<div class="container-fluid px-15 px-md-30 px-lg-50 lightyellow-text">
    <div class="col pt-50 pb-50 pb-md-60 pt-md-65 pt-lg-50 pb-lg-75 mx-0">

        <div class="d-flex align-items-center justify-content-center align-items-center">
            <img src="../assets/TACO leon.png" class="taco-leon-footer">
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-8 pt-10 pt-md-16">
                <ul class="flex-nav">
                    <li><a href="#" class="text-decoration-none">Paquetes</a></li>
                    <li><a href="#" class="text-decoration-none">Guisados</a></li>
                    <li><a href="#" class="text-decoration-none">Testimonios</a></li>
                    <li><a href="#" class="text-decoration-none">Galería</a></li>
                    <li><a href="#" class="text-decoration-none">Contacto</a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-4 d-flex justify-content-md-end align-items-center pt-30 pt-md-16">
                <p >Taco León Buffete <sup>&reg;</sup></p> 
                <!-- se ve un poco raro, hay como un padding ahi  -->
            </div>
        </div>
        <div class="row pt-50 pt-md-60 pt-lg-120">
            <div class="col-6 col-md-5 col-lg-2 order-1 order-lg-1">
                <h3 class="pb-10">Sociales</h3>
                <p><a href="https://www.facebook.com" class="text-decoration-none">Facebook</a></p>
                <p><a href="https://www.whatsapp.com" class="text-decoration-none">Whatsapp</a></p>
            </div>
            <div class="col-10 col-md-5 col-lg-3 order-3 order-lg-2 pt-30 pt-md-40 pt-lg-0">
                <div>
                    <h3 class="pb-10">Ubicación</h3>
                    <p class="pb-10">Avenida del Curtidor 420, dentro del edificio Centro de Negocios en León Guanajuato De Lunes a Viernes.</p>
                    <a class="text-decoration-none" href="https://wa.me/524772213385">+52 477 221 3385</a>
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-4 offset-lg-3 pt-30 pt-md-0 pt-lg-0 align-items-center justify-content-end order-2 order-lg-3">
                <div>
                    <h3 class="pb-10">Contratación</h3>
                    <p>Trabajamos por medio de cita. En caso de no poder asistir se puede hacer por medio de depósito o transferencia 
                        y se manda el contrato por Correo ó Whatsapp.
                    </p>
                </div>
            </div>
        </div>

        


    </div>
</div>