footer {
    background-color: $darkbrown;
    color: $yellow;

    .taco-leon-footer{
        padding: 0;

        @include media-breakpoint-up(md){
            width: 100%;
            height: auto;
        }
        @include media-breakpoint-up(lg){
            width: 100%;
            height: auto;
            max-width: 1500px;
        }
    }
}

//al hacerse pequenia la pantalla la imagen de taco leon sale de la misma