footer {
    background-color: $darkbrown;
    color: $yellow;

    .taco-leon-footer{
        padding: 0;
        width: 100%;
        height: auto;
        @include media-breakpoint-up(lg){
            max-width: 1500px;
        }
    }
}

//al hacerse pequenia la pantalla la imagen de taco leon sale de la misma