.vh-100{
    height: 100vh;
}

.btn {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-radius: 10px;
    text-decoration: none;
    @include media-breakpoint-up(md) {
        border-radius: 15px;
        padding: 20px 30px;

    }
}

.row-gap-30 {
    row-gap: 30px;
}

.gap-30 {
    gap: 30px;
}

.gap-15 {
    gap: 15px;
}

@media (min-width: 768px) {
    .gap-md-20 {
        gap: 20px;
    }

    .pt-md-16{
        padding-top: 16px;
    }
}

@media (min-width: 992px) {
    .gap-lg-20 {
        gap: 20px;
    }


    .pt-lg-16 {
        padding-top: 16px;
    }
}

ul {
    list-style: none; 
}

.hero-container {
    background-color: $darkbrown;
    height: 560px;
    @include media-breakpoint-up(md) {
        height: 766px; 
    }
}

.hero-title {
    font-size: 55px;
}

.paquetes-btn{
    background-color: $yellow;
    text-decoration: none;
    z-index: 1;
}

.general-container {
    border-radius: 30px;
}

.paquete-container {
    background-color: $lightyellow;

    @include media-breakpoint-up(md) {
        padding: 30px 20px 20px 20px;
    }

    @include media-breakpoint-up(lg) {
        padding: 40px 30px;
    }
}


.brown-container{
    background-color: $darkbrown;
}

.paquete-container-md-large{
    background-color: $lightyellow;
    padding: 40px 30px 30px ;
}

.yellow-bg {
    background-color: $yellow;
}

.paquete-precio-btn {
    border-radius: 10px;
}

.paquete-video-btn {
    width: 64px;
    height: 64px;
    padding: 20px !important;
    border-radius: 50px;
    padding: 10px 20px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: $darkbrown;
    opacity: 0.3;
}

.guisados-divider {
    background-color: $lightyellow;
}

.accordion-expander {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* This is important for overlaying the spans */
    width: 24px;
    height: 24px;
}

.accordion-expander span {
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: $lightyellow;
    transition: transform 0.3s ease;
}

.accordion-expander {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 24px;
    height: 24px;
}

.accordion-expander span {
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: $lightyellow;
    transition: transform 0.3s ease-in;
}

.accordion-head[aria-expanded="false"] .accordion-expander span:last-child {
    transform: rotate(0deg); 
}

.accordion-head[aria-expanded="true"] .accordion-expander span:last-child {
    transform: rotate(90deg); 
}

.whatsapp-btn{
    color: $lightyellow;
    background-color: $darkbrown;
    padding: 20px 30px;
}

.play-btn {
    width: 105px;
    height: 105px;
    border-radius: 100%;
    background-color: $darkbrown;
    border: 0px;
    padding: 0px;
}

.gallery-btn {
    width: 60px;
    height: 60px;
    border-radius: 75%;
    background-color: $lightyellow;
    padding: 15px 15px 15px 18px;
    border: 2px solid $darkbrown;
}

.lightyellow-bg {
    background-color: $lightyellow;
}


.swiper-pagination{
    background-color: $lightyellow !important;
    padding: 10px 15px !important;
    gap: 20px;
    z-index: 1 !important;
}

.swiper-pagination-bullet{
    background: $darkbrown;
}

.testimonio-container {
    background-color: $yellow;
    border-radius: 10px;
}

.contacto-input {
    border-radius: 10px;
    background-color: $lightyellow;
    padding: 20px 30px;
    width: 100%;
    color: #000000;
}

.contacto-input input::placeholder,
.input[type="date"]::placeholder{
    opacity: 0.2;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.form-contacto {
    opacity: 1;
    color: $darkbrown;
}


.selectize-control.form-contacto .selectize-input {
    border: none !important;                   
    box-shadow: none !important;               
    padding: 0 !important;                     
}

.selectize-dropdown {
    border: none !important;                   
    box-shadow: none !important;              
    padding: 0 !important;                    
}

.selectize-dropdown-content{
    max-height: 250px !important;
}

.selectize-dropdown .selectize-dropdown-content .option {
    color: $darkbrown;
    background-color: $lightyellow !important;
    padding: 20px 30px;
    @include body-text;
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
    background-color: $lightyellow !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;  
    @include body-text;
    color: $darkbrown;
    margin-top: 10px;
}

.selectize-control.single .selectize-input {
    background-image: none !important; 
    margin: 0 !important; 
    padding: 20px 30px !important;
    border-radius: 10px;
}

.selectize-input>input{
    font-family: 'Roboto';
    font-size: $body-font-size;
    font-weight: 500 ;
    list-style: 19.2px;
}



.vineta-container{
    display: flex;
    gap: 5px;
    padding-bottom: 5px;
    .vineta{
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
        &::after{
            content: '';
            width: 8px;
            height: 8px;
            background-color: $darkbrown;
        }
    }
    &:last-child{
        padding-bottom: 0px;
    }
}

.flex-nav{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    @include media-breakpoint-up(md){
        justify-content: start;
        gap: 20px;
        
    }   
}

.cover{
    object-fit: cover;
}