@mixin body-text{
    font-family: $font-body;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 500;
    letter-spacing: 0.01em;
    @include media-breakpoint-up(md){
        font-size: 16px;
        line-height: 19.2px;
    }
}

.body-text, p{
    @include body-text;
}

@mixin h1{
    font-family: $font-heading;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    @include media-breakpoint-up(md){
        font-size: 50px;
        line-height: 50px;
    }
}

h1, .h1{
    @include h1;
}

@mixin h2{
    font-family: $font-heading;
    font-size: 22px;
    line-height: 22px;
    font-weight: 400;
    @include media-breakpoint-up(md){
        font-size: 30px;
        line-height: 30px;
    }
}

h2, .h2{
    @include h2;
}

@mixin  h3{
    font-family: "Roboto Condensed", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    letter-spacing: 0.01em;
    @include media-breakpoint-up(md){
        font-size: 20px;
        line-height: 24px;
    }
}

h3, .h3{
    @include h3;
}

.yellow-text{
    color: $yellow;
}

.lightyellow-text{
    color: $lightyellow;
}

.brown-text{
    color: $darkbrown;
}