// -------- Variables ----------------- 

// Colors
$black: #000000;
$white: #FFFFFF;
$darkbrown: #401B0A;
$lightyellow: #FFEBBA;
$yellow: #FFC758;

// Base Variables
$body-background-color: $yellow;
$body-text-color: $darkbrown;
$title-text-color: $darkbrown;
$placeholder-color: $black;

// Types
$font-body: 'Roboto';
$font-heading: 'Bungee';
$font-subheading: 'Roboto Condensed';

// Define font sizes
$h1-font-size: 50px;
$h2-font-size: 30px;
$h3-font-size: 20px;
$body-font-size: 16px;

$body-line-height: 19.2px;
$body-letter-spacing: 0.01em;

$subheading-line-height: 24px;
$subheading-letter-spacing: 0.01em;

